@model IEnumerable<MemberManagement.entity.Lesson>

@{
    ViewData["Title"] = "Sınıflar";
    string userName = Context.Session.GetString("username");
    string role = Context.Session.GetString("role");
}

<h1>Sınıflar</h1>
@if (role == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-success">Ekle</a>
    </p>
}
<table class="table table-borderless table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quota)
            </th>
            @if (role == "Admin")
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quota)
                </td>
                @if (role == "Admin")
                {
                    <td>
                        <a asp-route-id="@item.Id" asp-action="Edit" type="submit" class="btn btn-primary">Güncelle</a> |
                        <a asp-route-id="@item.Id" asp-action="Delete" type="submit" class="btn btn-danger">Sil</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
